html{
    background-color: rgb(173, 196, 196);
   }
 
*{
    font-family: 'Playfair Display', serif;
}

#titulo
{
   background-color: rgb(23, 157, 161);
   color: rgb(0, 0, 0);
   text-align: center;
   display: flex;
}

h3{
    background-color: rgb(33, 165, 165);
}

.centrado{
    text-align: center;
}

.imagen
{
    width: 8rem;
    height: 10rem;
  
}

